
body {
    padding: 20px;
}
table, tr, td {
    border: 1px solid black;
    padding: 5px;
}
tr:nth-child(1) > td {
    text-align: center;
    font-weight: bold;
    border: none;
}
#search-form {
    max-width: 500px;
}
